<nav class="#00897b teal darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"> Tasks </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth1"> Task 1 </a></li>
            <li><a href="/auth2"> Task 2 </a></li>
            <li><a href="/auth3"> Task 3 </a></li>

        </ul>
    </div>
</nav>