{{>head }}

<body>
<h4>Enter authentication code</h4>
<form action="/task2" method="get">
    <label>Code</label><br />
    <input type="text" name="code" /><br /><br />
    <label>Input data</label><br />
    <input type="text" name="str" /><br /><br />
    <input type="submit" />
</form>
</body>
</html>
