<html>
<head>
    <%- include ('./partials/stylesheet') %>
</head>
<body>
<%- include ('./partials/navbar') %>
<h1>Ma logo</h1>
<p><img src="../assets/General.jpg" alt="General Kenobi..."></p>
<%- include ('./partials/footer') %>
<%- include ('./partials/javascripts') %>
</body>
</html>