<html>
<head>
    <%- include ('./partials/stylesheet') %>
</head>
<body>
<%- include ('./partials/navbar') %>
<h1>Ma logo</h1>
<form action="/task3" method="get">
    <label>Input data</label><br />
    <input type="text" name="str" /><br /><br />
    <input type="submit" />
</form>
</body>
</html>